@import 'font-awesome/css/font-awesome.css'
@import 'prismjs/themes/prism-okaidia.css'

@import './fira-code'

pre[class*="language-"],
code[class*="language-"],
code, kbd, pre, samp
  font-family 'fira code', Monaco, 'Andale Mono', 'Ubuntu Mono', monospace

ul li pre[class*="language-"]
  width fit-content
  margin-left auto
  margin-right: auto

// code blocks can take up all the slide width
code[class*="language-"],
pre[class*="language-"],
code.bullet,
pre.bullet
  max-width: 640px // TODO: maybe add this to the theme

// Some more horizontal padding for inline code
:not(pre) > code[class*="language-"],
:not(pre) > code.bullet
  padding: .1em .5em

// highlight current code bullet, mute others
code
  &.bespoke-bullet-active
    opacity: 0.5
  &.bespoke-bullet-active.bespoke-bullet-current
    opacity: 1

video
  width: 100%!important
  height: 100%
  z-index: -1

.u-rounded {
  border-radius: 0.3em
}

.u-fullWidth
  display: block
  max-width: 100%
  height: auto

.u-red
  color: #BF2020;

.u-green
  color: #8AE234;

.u-yellow
  color: #9D8000;

.u-gitTomato
  color: #F53F2D;

.gif
  &--nagato
    background-image: url('../images/gif/nagato.gif')
  &--pairCoding
    background-image: url('../images/gif/pair-coding.gif')
  &--pokeHighFive
    background-image: url('../images/gif/poke-high-five.gif')
  &--beyonce
    background-image: url('../images/gif/beyonce.gif')
  &--sethRogenCrying
    background-image: url('../images/gif/seth-rogen-crying.gif')
  &--picardFacepalm
    background-image: url('../images/gif/picard-facepalm.gif')
  &--kevinSpaceyNo
    background-image: url('../images/gif/kevin-spacey-no.gif')
  &--nickiMinajNo
    background-image: url('../images/gif/nicki-minaj-no.gif')
